<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b62d67b9-bcbc-4727-96a6-8c6d65be6dbb" Publisher="CN=Jeremy" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PushNotificationTest</DisplayName>
    <PublisherDisplayName>Jeremy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PushNotificationTest.App">
      <VisualElements DisplayName="Push Notification Test" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Push Notification Test" ForegroundText="dark" BackgroundColor="white">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>