<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="954b2c95-7db3-4bb3-aa84-aa01d85cfa93" Publisher="CN=Jeremy" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DataBinding</DisplayName>
    <PublisherDisplayName>Jeremy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DataBinding.App">
      <VisualElements DisplayName="DataBinding" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="DataBinding" ForegroundText="dark" BackgroundColor="white">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>